@import '../_variables.scss';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @media(max-width: 650px) {
      flex-direction: column;
      align-items: stretch;

      .header__cart{
        margin-top: 20px;
        display: flex;
        justify-content: center;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }

  @media (max-width: 650px) {
    &__logo {
      flex-direction: column;
      text-align: center;

      img {
        margin-right: 0;
        margin-bottom: 8px;
      }

      h1 {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 900px) {
    .container {
      flex-wrap: wrap;
    }
  }
}
