.root {
    position: relative;
    flex: 1;
    max-width: 520px;
    margin: 0 20px;
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 50px;

    &:focus {
        border: 1px solid rgba(255, 153, 0, 0.507)
    }
}

.icon {
    opacity: 0.5;
    position: absolute;
    left: 12px;
    top: 10px;


}

.close {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;

    &:hover {
        opacity: .8;
        fill: rgb(255, 123, 0);
    }
}

@media (max-width: 900px) {
    .root {
        max-width: none;
        margin: 16px 0 0;
        width: 100%;
    }
}

@media (max-width: 520px) {
    .input {
        font-size: 14px;
        padding: 10px 16px;
        padding-left: 44px;
    }
}
